@page "/About"

@attribute [Authorize]

<h1>About</h1>
<br/>
<br/>
<div class="card" role="alert">
    <div class="card-body">
        <i class="fas fa-code"></i>
        Experimental Blazor Wasm Application Created by Muhanad Alkhalil.
    </div>
    </div>


    @code {

    }
