@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <RadzenDialog />
        <RadzenNotification />

        <div class="sidebar">
            <NavMenu />
        </div>
        <div class="main">
            <div class="top-row px-4">
                <Header />
            </div>

            <div class="content px-4">
                @Body
            </div>
            <div class="bottom-row">
                Copyright © 2020.
            </div>
        </div>


    </Authorized>
    <Authorizing>
        @Body
    </Authorizing>

    <NotAuthorized>
        @Body
    </NotAuthorized>
</AuthorizeView>

